@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

#seekerProfileImage, #companyProfileImage, .applicantProfileImage{
    width: 120px;
    height: 120px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#addWorkExImg, #addEducationImg, #addSkillImg, #addJobPostImg {
    width: 25px;
    height: 25px;
    background-size: cover;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.noPadding {
    padding: 0 !important;
    border : none;
}

span {
    margin: 1em 0 0.5em 0;
    color: #317aa8;
    font-size: 26px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #317aa8;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
