<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Seeker</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Raleway}">
    <link rel="stylesheet" th:href="@{/css/main.css}">


</head>
<body>
<div class="container-fluid col-xs-12">
    <input type="hidden" id="userId" th:value="${userId}"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a id="Home" href="#1" data-toggle="tab">Home</a>
                    </li>
                    <li>
                        <a id="Profile" href="#2" data-toggle="tab">Profile</a>
                    </li>
                    <li>
                        <a id="AppliedJobs" href="#3" data-toggle="tab">Applied Jobs</a>
                    </li>
                    <li>
                        <a id="FavoriteJobs" href="#4" data-toggle="tab">Favorite Jobs</a>
                    </li>
                    <li>
                        <a id="Logout" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>

                <div class="tab-content col-xs-12">
                    <div class="tab-pane active" id="1">
                        <br><br>
                        <div class="panel panel-default">
                            <div class="panel-body col-xs-12">
                                <div id="custom-search-input">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control input-lg" placeholder="Search your job..." id="searchText"/>
                                        <span class="input-group-btn">
                                                <button id="searchButton" class="btn btn-lg" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                                <br><br>
                                <div class="list-group col-xs-6">
                                    <div id="filterByCompanyName"></div>
                                    <div id="filterByLocation"></div>
                                    <div id="filterBySalary"></div>
                                </div>
                                <div id="searchResult" class="list-group col-xs-6">

                                </div>
                            </div>
                        </div>
                        <!-- Modal box-->
                        <div id="inCompleteProfileMessage">
                            <div class="modal successMessageModal"
                                 id="inCompleteProfileMessageModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body padtrbl">
                                            <div class="bs-example">
                                                <div class="alert alert-danger fade in">
                                                    <strong id="failureMessage"></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" id="inCompleteProfileMessageModalAnchor" style="display: none"
                               class="list-group-item list-group-item-action searchResult"
                               data-target="#inCompleteProfileMessageModal" data-toggle="modal">
                            </a>
                        </div>
                        <!--/ Modal box-->
                    </div>
                    <div class="tab-pane" id="2">
                        <br><br>
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="panel-body">
                                    <img id="seekerProfileImage" th:src="@{/images/profile.jpg}">
                                    <span>Profile</span>
                                    <form id="profileForm" class="form-horizontal">
                                        <input type="file" id="profilePicture" style="display: none;" accept=".jpg">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="firstName">First name: </label>
                                            <div class="col-xs-10">
                                                <input type="text" class="form-control" id="firstName"
                                                       placeholder="First name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="lastName">Last name: </label>
                                            <div class="col-xs-10">
                                                <input type="text" class="form-control" id="lastName"
                                                       placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="summary">Summary : </label>
                                            <div class="col-xs-10">
                                                <textarea class="form-control" id="summary"
                                                          placeholder="Summary..."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2" for="updateJobSeekerProfile"></label>
                                            <div class="col-xs-10">
                                                <button id="updateJobSeekerProfile" class="btn btn-info" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Updating">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <!--Modal box-->
                                    <div class="modal" id="addWorkEx" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content no 1-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" id="closeAddWorkEx" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title text-center form-title">Add Work
                                                        Experience</h4>
                                                </div>
                                                <div class="modal-body padtrbl">
                                                    <form id="newWorkExFormId" name="workExForm"
                                                          class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newTitle">Job
                                                                Title: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control" id="newTitle"
                                                                       placeholder="Job Title">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newCompanyName">Company
                                                                name: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control"
                                                                       id="newCompanyName" placeholder="Company name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newFrom">From
                                                                : </label>
                                                            <div class="col-xs-10">
                                                                <input type="date" class="form-control" id="newFrom"
                                                                       placeholder="From date">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newTill">To
                                                                : </label>
                                                            <div class="col-xs-10">
                                                                <input type="date" class="form-control" id="newTill"
                                                                       placeholder="Till">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2"
                                                                   for="newWorkExAdd"></label>
                                                            <div class="col-xs-10">
                                                                <button id="newWorkExAdd" class="btn btn-success">Add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Modal box-->
                                    <span>Work experience <img id="addWorkExImg" th:src="@{/images/plus.png}" href="#"
                                                               data-target="#addWorkEx" data-toggle="modal"
                                                               style="float: right; position: relative"></span>

                                    <div id="workEx">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <!--Modal box-->
                                    <div class="modal" id="addEducation" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content no 1-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" id="closeAddEducation" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title text-center form-title">Add Education</h4>
                                                </div>
                                                <div class="modal-body padtrbl">
                                                    <form id="newEducationFormId" name="educationForm"
                                                          class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newSchool">School/University: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control" id="newSchool"
                                                                       placeholder="School/University name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newDegree">Degree: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control" id="newDegree"
                                                                       placeholder="Degree">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2"
                                                                   for="newField">Field: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control" id="newField"
                                                                       placeholder="Field">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newEduFrom">From
                                                                : </label>
                                                            <div class="col-xs-10">
                                                                <input type="date" class="form-control" id="newEduFrom"
                                                                       placeholder="From date">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newEduTill">To
                                                                : </label>
                                                            <div class="col-xs-10">
                                                                <input type="date" class="form-control" id="newEduTill"
                                                                       placeholder="Till">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2"
                                                                   for="newEducationAdd"></label>
                                                            <div class="col-xs-10">
                                                                <button id="newEducationAdd" class="btn btn-success">
                                                                    Add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Modal box-->
                                    <span>Education <img id="addEducationImg" th:src="@{/images/plus.png}" href="#"
                                                         data-target="#addEducation" data-toggle="modal"
                                                         style="float: right; position: relative"></span>

                                    <div id="education">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <!--Modal box-->
                                    <div class="modal" id="addSkill" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content no 1-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" id="closeAddSkill" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title text-center form-title">Add Skill</h4>
                                                </div>
                                                <div class="modal-body padtrbl">
                                                    <form id="newSkillFormId" name="educationForm"
                                                          class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2"
                                                                   for="newSkill">Skill: </label>
                                                            <div class="col-xs-10">
                                                                <input type="text" class="form-control" id="newSkill"
                                                                       placeholder="Skill name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2" for="newYearsOfExp">Degree: </label>
                                                            <div class="col-xs-10">
                                                                <input type="number" class="form-control"
                                                                       id="newYearsOfExp" placeholder="0-10">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-xs-2"
                                                                   for="newSkillAdd"></label>
                                                            <div class="col-xs-10">
                                                                <button id="newSkillAdd" class="btn btn-success">Add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Modal box-->
                                    <span>Skills <img id="addSkillImg" th:src="@{/images/plus.png}" href="#"
                                                      data-target="#addSkill" data-toggle="modal"
                                                      style="float: right; position: relative"></span>

                                    <div id="skill">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal box-->
                        <div id="completeDoneMessage">
                            <div class="modal successMessageModal"
                                 id="successMessageModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body padtrbl">
                                            <div class="bs-example">
                                                <div class="alert alert-success fade in">
                                                    <strong id="successMessage"></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" id="successMessageModalAnchor" style="display: none"
                               class="list-group-item list-group-item-action searchResult"
                               data-target="#successMessageModal" data-toggle="modal">
                            </a>
                        </div>
                        <!--/ Modal box-->
                    </div>
                    <div class="tab-pane" id="3">
                        <br><br>
                        <div class="panel panel-default">
                            <div id="appliedJobsDiv" class="list-group">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="4">
                        <br><br>
                        <div class="panel panel-default">
                            <div id="interestedJobsDiv" class="list-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-2.2.0.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js}"></script>
<script th:src="@{/jobseeker.js}"></script>
</body>
</html>
