<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Verification Token</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${userModel}" method="post" class="form-horizontal"
                  role="form">
                <h2>Email Verification Token</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="hidden" th:field="*{email}" th:value="${userModel.email}"/>
                        <input type="hidden" th:field="*{role}" th:value="${userModel.role}"/>
                        <input type="hidden" th:field="*{password}" th:value="${userModel.password}"/>
                        <input type="text" th:field="*{token}" placeholder="00000000-0000-0000-0000-000000000000"
                               class="form-control" required/> <label
                            th:if="${#fields.hasErrors('token')}" th:errors="*{token}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Verify Token</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>